// ℹ️ This is common style that needs to be applied to both navs
%nav {
  color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
}

/*
    Active nav link styles for horizontal & vertical nav

    For horizontal nav it will be only applied to top level nav items
    For vertical nav it will be only applied to nav links (not nav groups)
*/
%nav-link-active {
  background: #344A55;
  height: 55px !important;
  box-shadow: -4px 0px 0px 0px #82E0DD !important;
  font-weight: 500;
}
