// Write your overrides
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap";

* {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.nav-brRight {
    border-left: 3px solid #82e0dd;
    padding-left: 15px;
}

.delete-popup{
    padding: 5%;    
}
@media only screen and (max-width: 770px) {
    .breadcrumb-inactive {
      display: none;
    }
  }
  .active-breadcrumb {
    color: #82e0dd;
    font-weight: 420;
  }
  
  .breadcrumb-inactive {
    color: #484143;
    font-size: 16px;
  }

.vs-button-silva.vs-button-filled.small,
.vs-button-silva-light.vs-button-filled.small,
.vs-button-silva-dark.vs-button-filled.small {
  font-size: 12px;
}

.vs-button-silva.vs-button-filled{
  background: #82e0dd !important;
}

.vs-button-silva-light.vs-button-filled {
  background: #1e8d9b !important;
}

.vs-button-silva-dark.vs-button-filled {
  background: #28303d !important;
}
.main-title-color{
 color:  #28303d;
}

.main-subtitle-color{
  color: #888;
}


.loc_sec {
  padding: 7px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  .location {
      width: 100%;
      &:focus {
          outline: none;
      }
  }
}

.m-phone-number-input{
  .m-select-list__scroll-wrapper
  {
    background: #FFF;
    color: #28303d;
  }
  .m-select-list {
      width: 250px;
      .m-select-list-item {
          white-space: normal;
      }
  }
  .m-phone-number-input__input
  {
      width:100%;
  }
  }
  
  .user-tabing {
    .v-tabs.v-tabs-pill .v-slide-group-item--active.v-tab--selected.text-primary {
      padding: 5px;
      border-radius: 0 !important;
      background-color: white;
      border-inline-start: 5px solid #82e0dd !important;
      box-shadow: 0 0 0 !important;
      color: #82e0dd !important;
  
      .v-btn__content {
        color: #626262 !important;
        font-size: 14px !important;
        font-weight: 600;
        padding-block: 0 4px !important;
        padding-inline: 9px 0 !important;
      }
    }
  }
  
  .edit-profile{
    .avtarimage {
      height: 11rem !important;
    }
    .avtarimgicon {
      margin-top: 50px;
    }
    @media only screen and (max-width: 768px) {
      .verticle-tabing {
        display: none;
      }
      .horizontal-tabing {
        display: block;
      }
      .tabing-card {
        width: 100% !important;
      }
    }
    @media only screen and (min-width: 768px) {
      .horizontal-tabing {
        display: none;
      }
    }
    .tabing-card {
      width: calc(100% - 228px);
      height: calc(100% - 228px);
    }

    .horizontal-tabing .v-tab.v-tab {
      min-width: 50px;
    }
  }

  .custom_check {
    .v-selection-control__input {
        svg {
            g {
                rect {
                    rx: 9px;
                }
            }
        }
    }
}

.creditcarddata{
  border: none !important;
}

.creditcarddata .v-selection-control__wrapper .v-selection-control__input{
  transform: scale(0.65);
  border: 2px solid rgb(55 255 239);
}

.creditcarddata .v-selection-control__wrapper.text-primary .v-selection-control__input{
  transform: scale(1.5) !important;
  border: none;

}

// .v-selection-control__input{
  // transform: scale(0.65);
  // border: 2px solid rgb(55 255 239);
// }
.payment-success{
  text-align: center !important;
  height: 55px !important;
}

.hover-effect:hover{
  box-shadow: 0 8px 25px -8px #82e0dd !important;
}