@charset "utf-8";
/* CSS Document */

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1699px) {
  .c__account .lg\:w-2\/5 {
    width: 40% !important;
  }
  .qr-card .con-vs-avatar {
    left: 6%;
    top: 39%;
}
  .c__account .lg\:w-3\/5 {
    width: 60% !important;
  }

  /* .success-step .padding-bottom-10 {
    padding-bottom: 40% !important;
  } */

  .qr-card {
    padding: 13%;
    background-size: 80%;
  }

  .qr-card img {
    margin: 10% 0% 2% 15%;
  }

  .qr-card img {
    width: 180px;
  }

  .s__login .signin-right-block h6 {
    margin-bottom: 1.5rem !important;
}
  /* .qr-card img {
  width: 46%;
} */
.padding-bottom-40.sucess-pb{
  padding-bottom: 55% !important;
}
.padding-bottom-23.web-10{
  padding-bottom: 34% !important;
}
}

@media only screen and (max-width: 1499px) {
  .abt-screen .confirm-bottom {
    padding-top: 6%;
    padding-bottom: 3%;
}
  .qr-card .con-vs-avatar {
    left: 5%;
  }
  .stepper-head h1 {
    font-size: 34px;
  }

  .fail-step .steps-index {
    bottom: 65px;
  }

  .stepper-head .back-link {
    top: 77px;
  }
  .s__login .signin-right-block h6 {
    margin-bottom:1rem !important;
}
}

@media only screen and (max-width: 1440px) {
  .success-padding {
    padding-top: 9%;
  }
  .abt-screen .confirm-bottom {
    padding-top: 3%;
    padding-bottom: 3%;
}
  .qr-card {
    padding: 22% 0%;
    background-size: 78%
  }

  .qr-card img {
    margin: 3% 0% 2% 15%;
  }

  .edit-profile .edit-profile-user {
    /* min-width: 245px; */
    /* min-width: 240px; */
  }

  .padding-bottom-23 {
    padding-bottom: 32% !important;
  }

  .stepper-head h1 {
    font-size: 32px;
    word-break: break-word;
  }

  .s__login .signin-left-block .left-block-img {
    max-width: 80% !important;
  }

  .s__login button {
    margin-bottom: 2px
  }

  .s__login .login-logo {
    margin-top: 150px
  }

  .qr-card p {
    font-size: 16px;
    line-height: 1.5;
  }


  .qr-card .con-vs-avatar {

    top: 40.5%;
    width: 95px;
    height: 95px;
  }

  .qr-card .con-vs-avatar span {
    font-size: 50px;
  }

  .fail-step .steps-index {
    bottom: 71px;
  }

  .fail-step .stepper-head .back-link {
    top: 72px;
  }

  .padding-bottom-40 {
    padding-bottom: 59% !important;
  }
  .padding-bottom-40.sucess-pb {
    padding-bottom: 64% !important;
  }
  .padding-bottom-23.web-10{
    padding-bottom: 40% !important;
  }
}

@media only screen and (max-width: 1366.98px) {
  .s__login .signin-right-block h6 {
    margin-bottom: 20px;
    margin-top: 0px;
}
  .fail-payment-pt {
    padding-top: 5%;
  }

  .fail-pb {
    padding-bottom: 25% !important;
  }

  .success-padding {
    padding-top: 12%;
  }

  .qr-card img {
    width: 35%;
  }

  .qr-card {
    padding: 27% 0%;
    background-size: 77%;
  }

  .s__login button {
    margin-bottom: 2%
  }

  .s__login .login-logo {
    margin-top: 0%
  }

  .s__login p {
    margin: 2% 0 !important;
  }

  .s__login .forgot {
    margin-bottom: 2% !important;
  }

  .stepper-head h1 {
    font-size: 30px;
  }

  .address-form .vs-input--input.large {

    padding-right: 40px !important;

  }
  .qr-popup .bg-qr-white .img-box img {
    width: 180px;
    height: 180px;
}
.qr-popup .bg-qr-white .img-box {
  padding: 20px 47px;
}
}

@media only screen and (max-width: 1299px) {
  .member-bottom-btn {
    padding-top: 0%;
  }

  .stepper-head h1 {
    font-size: 30px;
  }

  .address-details-form textarea {
    height: 110px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .qr-card {
    padding: 18% 0%;
  }

  .stepper-head h1 {
    font-size: 28px;
  }

  /* .padding-card-5{
  padding:10%;
} */
.padding-bottom-40.sucess-pb {
  padding-bottom: 60% !important;
}

}

@media only screen and (max-width: 1199.98px) {
  .delete-confirm.add-rating.con-vs-popup .vs-popup {
    width: 50%;
  }
  .delete-confirm.add-rating .vs-popup--title h3 {
    font-size: 20px;
}
.delete-confirm.add-rating .vs-popup--title h3 {
  padding-left: 35px;
}
  .qr-card {
    padding: 22% 0%;
  }

  .address-details-form textarea {
    height: 110px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024.98px) {
  .add-rating.con-vs-popup .vs-popup {
    width: 60%;
  }
  .add-rating.con-vs-popup .submit-btn{
  min-width: 30%;
  }
  .member-bottom-btn {
    padding-top: 7%;
  }

  .fail-payment-pt {
    padding-top: 20%;
  }

  .success-padding {
    padding-top: 5%;
  }

  .about-btn-padding {
    padding-top: 0rem;
  }

  /* .edit-profile .edit-profile-user {min-width: 220px;} */
  .stepper-head h1 {
    font-size: 28px;
  }

  .s__login .login-logo {
    margin-top: 5%;
  }

  .s__login button {
    margin-bottom: 2%;
  }

  .s__login .forgot {
    margin-bottom: 2% !important;
  }

  .edit-profile .edit-profile-user {
    width: 17.5% !important;
  }

  .fail-step .steps-index {
    bottom: 66px;
  }

  .stepper-head h2,
  .step-h2 {
    font-size: 23px;
  }

  .fail-step .stepper-head .back-link {
    top: 82px;
  }

  .website .steps-index {
    bottom: 50px;
  }

  .website .stepper-head .back-link {
    top: 63px;
  }

  .success-step .padding-bottom-10 {
    padding-bottom: 45% !important;
  }

  .truncate h2.statistics {
    font-size: 18px;
    padding-top: 7px;
  }

  .qr-card {
    padding: 31% 0%;
  }

  h3.link-title {
    font-size: 20px;
  }

  .referal-link.msg-details .vs-textarea,
  .msg-details .vs-input--input {
    font-size: 14px !important;
  }

  .referal-link .vs-button {
    font-size: 14px;
  }

  .card-title h3 {

    font-size: 22px;
  }

  .qr-card .con-vs-avatar span {
    line-height: 90px;
  }

  .qr-card .con-vs-avatar {
    left: 5%;
  }
  .padding-bottom-40.sucess-pb {
    padding-bottom: 72% !important;
  }
 

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  .v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
  }
  [dir] .padding-bottom-40.sucess-pb {
    padding-bottom: 15% !important;
}
  .delete-confirm.add-rating .vs-popup--title h3 {
    font-size: 20px;
    line-height: 55px;
    padding-left: 15px !important;
}
  .business-profile .md-wrap {
    flex-direction: column;
    align-items: flex-start !important;
    padding-bottom: 10px;
  }

  .business-profile p {
    font-size: 14px;
  }

  .business-profile .sub-business-title {
    font-size: 18px;

    line-height: 20px;
  }

  .business-profile h2 {
    font-size: 28px;
  }

  .blue-card .domestic-card li,
  .blue-card .domestic-card li a {
    font-size: 14px;
  }

  .blue-card .domestic-card h6,
  .map h5 {
    font-size: 18px;
  }

  .business-profile.business-logo .con-vs-avatar {
    width: 80px;
    height: 80px;
  }

  .vs-table--tbody-table .con-vs-avatar {
    height: 32px !important;
    width: 32px !important;
    margin: 5px !important;
    margin-left: 0px !important;

  }

  .delete-popup .vs-button {
    font-size: 14px !important;
  }

  .add-rating .vs-popup--title h3 {
    font-size: 20px;
  }

  .vs-con-table .vs-con-tbody .vs-table--tbody-table th,.vs-table--td,.vs-table--td .con-vs-chip {
    font-size: 14px;
  }

  .qr-card {
    padding: 10% 0%;
    background-size: 90% ;
  }

  .qr-card .con-vs-avatar {
    left: 26%;
  }

  .qr-card .con-vs-avatar {
    top: 34%;
  }
  
  .qr-card-text{
    height: auto;
  }

  .qr-card img {
    width: 150px;
    margin: 2% 0% 0% 6% ;
  }

  .qr-card p {
    padding-left: 6%;
  }

  .s__dashboard .padding-card-5 {
    padding: 0%;
  }

  .success-step .padding-bottom-10 {
    padding-bottom: 28% !important;
  }

  .edit-profile .vx-col {
    margin-bottom: 2px;
  }

  .edit-profile .edit-profile-user {
    width: 20% !important;
  }

  .padding-bottom-23 {
    padding-bottom: 20% !important;
  }

  .confirm-form .vs-button-silva-dark.vs-button-filled {

    font-size: 1rem;
  }

  .membership .stepper-head .back-link {
    top: 35px;
  }

  .c__account .lg\:w-3\/5 {
    width: 100% !important;
  }

  .website .steps-index {
    bottom: 25px;
  }

  .qr-logo-container p {
    font-size: 16px;
  }

  .transactions td,
  .standing-orders td,
  .payment-request td {
    white-space: nowrap;
  }

  .s__login {
    overflow-x: hidden;
    height: 100% !important;
  }

  .s__login .left-block-col {
    display: none;
  }

  /* .s__login .signin-right-block form {
    width: 60% !important;
  } */

  .s__login .signin-right-block h4 {
    font-size: 30px !important;
  }

  /* .s__login .login-logo {
    width: 200px;
  }
 */
  .s__login .signin-right-block h6 {
    margin-bottom: 40px !important;
    margin-top: 0px !important;
  }

  .s__login .close-img {
    top: 40px !important;
    right: 60px !important;
  }

  .s__login button {
    margin-bottom: 0px !important
  }

  .s__login .login-logo {
    margin-top: 30px
  }

  .s__login .flex {
    display: block !important;
  }

  .s__login .margin-right {
    margin-right: 0px !important;
  }

  .stepper-head h1 {
    font-size: 28px;
    line-height: normal;
    width: 80%;
  }

  .confirm-form {
    padding: 1.5rem;
  }

  .stepper-head h2,
  .step-h2 {
    font-size: 24px;
    line-height: normal;
  }

  /* .stepper-head .back-link {
 right: 1.5rem;
  top: 28px;
  
} */
  .stepper-head {
    padding-top: 20px;
  }

  .confirm-bottom {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /* .steps-index {
 
  bottom: 1.5rem;
  right: 1.5rem;
}
.fail-step .stepper-head .back-link {
  top: 40px; 
}*/
  .padding-bottom-40 {
    padding-bottom: 45% !important;
  }

  /* .s__login .signin-right-block {
    height: 100vh !important;
  } */
  .rounded .con-img.vs-avatar--con-img{
    height: 32px;
    width: 32px;
  }
 
}

@media only screen and (max-width: 991.98px)
{
  /*my custom  css for responsive */
  .user_details .mobile_view  .edit-profile .vx-col {
    margin-bottom: 0px !important;
  }
.sucess-pb{
  padding-bottom: 5% !important;
}
  .address_details .edit-profile .vx-col {
    margin-bottom: 0px !important;
  }
  .user-list-row{
    flex-wrap: wrap;
  }
  .category-ul ul li {
  
    align-items: flex-start;
   
  }

  .qr-logo-container p {
    font-size: 20px;
  }
  .category-ul ul li .vs-component.con-vs-checkbox {
   
    align-items: flex-start;
  }
  .vs-table--header, .vs-table--search {
   
    flex-direction: column;
}
.vs-con-table .vs-table--header .vs-table--search {
  
  width: 100%;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .page-location, .card-title h3.float-right {
    display: none;
}
  .delete-confirm.add-rating.con-vs-popup .vs-popup {
    width: 70%;
  }

  .delete-confirm.add-rating .vs-popup--title h3 {
    font-size: 20px;
    line-height: 55px;
  }

  .fail-payment-pt {
    padding-top: 0%;
  }
  .qr-card {
    padding: 10% 0% ;
    background-size: 50% ;
  }

  

  
  .qr-card .con-vs-avatar {
    top: 38%;
  }

  .qr-card img {
    width: 120px;
  }

  .s__login .signin-right-block {
    /* height: 100vh; */
  }

  .qr-card .con-vs-avatar span {
    font-size: 33px;
    line-height: 52px;
  }

  .qr-card .con-vs-avatar {
    width: 60px;
    height: 60px;
  }

  .edit-profile .edit-profile-user {
    width: 23% !important;
  }

  .website .stepper-head .back-link {
    top: 31px;
  }

  .edit-profile .vs-tabs-position-left .con-ul-tabs {
    /* width: 320px; */
    width: 23% !important;

  }

  .confirm-form form {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .fail-step .steps-index {
    bottom: 23px;
  }
  .notification-date{
margin-left: 0px !important;
padding-top: 5px;
width: 100%;
  }
  .info-popup h3{
    font-size: 16px;
  }
  
}



/* Small Devices, Tablets */
@media only screen and (max-width: 767.9px) {
  div.dataTables_length{
    text-align: left;
  }
  .directory-row {
    flex-wrap: wrap;
  }
  .vs-button-silva{
    margin-bottom: 23px;
  }
  .vs-table .vs-button-silva{
    margin-bottom: 0px;
  }
  .directory-row .search-page__search-bar {
    margin-bottom: 10px;
  }

  .vue-image-crop-upload .vicp-wrap {
    width: 80% !important;
    height: 300px !important;
  }

  .con-ul-tabs {
    margin-right: 0px;
  }

  .vs-button:not(.vs-radius):not(.includeIconOnly):not(.small):not(.large) {
    padding: 0.50rem 1rem;
  }

  .page-location,
  .card-title h3.float-right {
    display: none;
  }

  .edit-profile .con-vs-tabs .con-slot-tabs {
    top: -38px !important
  }

  .edit-profile .edit-profile-user {
    max-width: 100%;
    width: 100% !important;
  }

  .edit-profile .con-ul-tabs {
    background: #ffffff;
  }

  .edit-profile .vs-tabs-primary .con-ul-tabs .activeChild button,
  .edit-profile .vs-tabs-primary .con-ul-tabs .activeChild button {
    border: none;
  }

  .edit-profile .vs-tabs-position-bottom .vs-tabs--ul,
  .vs-tabs-position-top .vs-tabs--ul {
    justify-content: center;
  }

  .edit-profile h3 {
    line-height: 22px !important;
    margin-bottom: 10px;
  }

  .edit-profile .b-details .flex {
    display: block !important;
  }

  .edit-profile .b-details .flex .vs-con-input {
    margin-bottom: 1rem !important
  }

  .edit-profile .activeChild button.vs-tabs--btn {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .edit-profile .email-pref .vs-checkbox-primary input:checked+.vs-checkbox {
    height: 25px;
    width: 25px;
  }

  .payment-method .flex.justify-content-between,
  .standing-orders .flex.justify-content-between,
  .payment-request .flex.justify-content-between {
    margin-bottom: 20px;
    justify-content: center !important;
  }

  .payment-method .credit-card {
    padding: 25px 25px 45px 55px;
  }

  .payment-request .vs-tabs--li span {
    font-size: 12px;
  }

  .s__login .signin-right-block h4 {
    font-size: 24px !important;
  }

  .s__login .login-logo {
    width: 150px;
  }

  .s__login .close-img {
    top: 20px !important;
    right: 40px !important;
  }

  .s__login .signin-right-block form {
    width: 80% !important;
  }

  .payment-form {
    width: 100%;
  }

  .dashboard-title-h3.card-title h3.float-right {
    display: inline-block;
  }

  .category-ul ul li .vs-component.con-vs-checkbox {
    width: 50% !important;

  }

  .confirm-form .categories-check .vs-component.con-vs-checkbox {
    width: 97% !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right,
  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left {
    width: 50%;
    padding-left: 10px;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right .vicp-preview .vicp-preview-item {
    width: 50px !important;
    height: 50px !important;
    ;
  }


}

@media only screen and (max-width: 575.97px) {
  .delete-confirm.add-rating .vs-popup--title h3 {
    font-size: 18px;
    line-height: normal;
  }
  .s__login.register-page .signin-right-block {
    height: auto !important;
}
  .faq_type .pt-12{
    padding-top: 5px !important;
  }
  .faq_type [dir=ltr] .button-margin {
    margin-right: 0px !important;
  }
  .add-card .payment-form .add-note {
    font-size: 14px;
    line-height: normal;
    padding-bottom: 15px;
  }
  .faq_create .pt-8{
    padding-top: 0px !important;
  }

  .vs-button-silva{
    margin-bottom: 23px;
  }
  .button-margin {
    margin-left: auto;
    /* margin-right: auto; */
  }
  .add-card .payment-form {
    padding: 0% 5% 5% !important;
  }

  .delete-confirm.add-rating.con-vs-popup .vs-popup {
    width: 85%;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left .vicp-range {
    margin: 15px 0 5px 0;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step1 .vicp-drop-area {
    padding: 20px 10px !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left .vicp-range {
    width: 100% !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left .vicp-range input[type=range] {
    width: 60% !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right .vicp-preview .vicp-preview-item span {

    bottom: -22px !important;

    font-size: 10px !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left .vicp-img-container {

    width: 100% !important;
    height: 100px !important;

  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left .vicp-img-container .vicp-img {
    cursor: move;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right .vicp-preview .vicp-preview-item img {

    width: 100% !important;
    height: 100% !important;
  }

  .confirm-form form.address-form {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .confirm-form .note-padding {

    padding-top: 2rem;
  }

  .stepper-head h1 {
    width: 78%;
  }


  .qr-card .con-vs-avatar {
    left: 24%;
  }

  .qr-card .con-vs-avatar span {
    font-size: 35px;
  }

  .qr-card {
    padding: 10% 0%;
    background-size: 60%;
  }

  .qr-avtr{
    transform:translateY(-50%) translateX(-30%) scale(0.75) !important;
  }

  .qr-logo-container p {
    font-size: 16px;
  }

  .setting-nav .vs-dropdown--custom {
    min-width: 255px;
  }

  .setting-nav.notification-pop .vs-dropdown--custom {
    min-width: 280px !important;
  }



  .referal-link .vx-input-group .append-text.btn-addon .vs-button {
    font-size: 12px;
    padding: 5px !important;
    min-width: 55px !important;
  }

  .referal-link.msg-details .vs-textarea,
  .msg-details .vs-input--input {
    font-size: 12px !important;
  }

  .stepper-head h1 {
    width: calc(100% - 68px);
  }

  .membership-list li {
    position: relative;
    line-height: normal;
  }

  .s__login .signin-right-block {
    /* height: 100% !important; */
  }

  .mb-sm-3 {
    margin-bottom: 10px;
  }

  .add-rating .vs-popup--title h3 {
    padding-left: 5%;
  }

  .add-rating .vs-popup--title h3 {
    font-size: 18px;
  }

  .add-rating .vs-popup--header .vs-popup--close {
    padding-right: 5%;
    font-size: 18px;
  }

  .add-rating.con-vs-popup .vs-popup {
    width: 90%;
  }

  .payment-request-popup .vs-button {
    width: 75%;
  }

  .directory-row {
    flex-wrap: wrap;
  }

  .directory-row .search-page__search-bar {
    margin-bottom: 10px;
  }

  .search-close-image {
    right: 13px !important;
  }
  .business-profile .vue-star-rating-star {
    height: 25px !important;
    width: 25px !important;
}
 .edit-profile .border-cut-btn{
   margin-bottom: 0px;
 }
 .business-details .mb-base {
  margin-bottom: 1.5rem !important;
}
.qr-popup .bg-qr-white .img-box img {
  width: 100px;
  height: 100px;
}
.qr-popup .bg-qr-white .img-box {
  padding: 10%;
}
.qr-popup.payment-popup .vs-popup--content {
 
  padding: 10%;
}
.qr-popup .close-x i {
  font-size: 1.5rem !important;
}
.qr-popup .p-text {

  font-size: 16px;
 
  line-height: 18px;
}
.qr-popup .amount-txt img {
  height: 18px;
}
.qr-popup .amount-txt p {
  color: #334055;
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
}
.qr-popup .close-x {
  right: 0px;
  top: 0px;
}
.con-vs-dialog .vs-dialog header .dialog-title {
  font-size: 18px;
}
.con-vs-dialog .vs-dialog .vs-dialog-text {
  font-size: 14px;
}
.vs-textarea--count {
  font-size: 11px !important;
}
.add-rating.con-vs-popup .submit-btn{
  min-width: 40%;
  }
  .add-rating.con-vs-popup .vue-star-rating-star svg{
    width: 30px;
  }
  .add-rating .buttons-row .vs-button {
    font-size: 14px;
    padding: 1rem!important;
}
[dir] .add-rating .buttons-row {
  padding: 0% 8% 20px;
}
.add-rating .vs-popup--title h3 {
  line-height: 32px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .business-btn-box .button-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .business-btn-box .button-block .vs-button {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }

  .business-profile h2 {
    font-size: 22px;
  }

  .payment-request.message-request .vs-tabs--ul {
    display: inline-block;
  }

  .message-request.payment-request li span {
    font-size: 14px !important;
  }

  .confirm-form .business-img-width img {
    margin-top: 0rem;
  }
  .qr-card {
    padding: 10% 0% !important;
    background-size: 100% !important;
  }
  

  .qr-card img {
    width: 100px;
  }

  .qr-avtr{
    transform:translateY(-50%) translateX(-30%) scale(0.5) !important;
  }

  .qr-logo-container p {
    font-size: 13px;
  }

  .confirm-form .vs-con-input-label {
    width: 40px;
  }

  .membership .stepper-head .back-link {
    top: 26px;
  }

  .confirm-form .vs-input--input.large {
    font-size: 28px !important;
  }

  .address-form .vs-input--input.large {
    font-size: 13px !important;

  }

  .confirm-form form {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }

  .confirm-form .gray_txt {
    padding-top: 10px;
    font-size: 14px;
    line-height: normal;
  }

  .confirm-form .vs-button-silva-dark.vs-button-filled.light-blue-btn .light-text {
    font-size: 18px;
  }

  .confirm-form .vs-button-silva-dark.vs-button-filled.light-blue-btn {
    font-size: 22px !important;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .address-details-form textarea,
  .address-details-form .vs-con-textarea {
    height: 80px;
    margin-bottom: 0px;
  }

  .membership-list {
    margin: 0.5rem 0;
  }

  .payment-form .vs-con-input-label {
    width: 100%;
  }

  .confirm-form .payment-form .vs-input--input.large {
    font-size: 18px !important;
  }

  .payment-box {
    padding-right: 0;
  }

  .payment-form .vs-input--placeholder.large {
    font-size: 14px !important;
    text-align: left;
    line-height: 12px;
  }

  .address-form .vs-con-input-label {
    width: 100%;
    margin-bottom: 2rem;
  }

  .flex-column {
    flex-direction: column;
  }

  .business-img-width img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .gray-txt-popup .vs-con-input input {
    font-size: 14px !important;
  }

  .gray-txt-popup .vs-con-input .vs-input--placeholder {
    font-size: 14px;
  }

  .pay-member .flex {
    width: 95%;

  }

  .payment-popup .blue-txt-popup {
    font-size: 14px;
  }

  .dark-txt-popup {
    font-size: 24px;
  }

  .payment-popup .con-vs-avatar.avatar-success {
    width: 95px;
    height: 95px;

  }

  .payment-popup .con-vs-avatar.avatar-fail {
    width: 95px;
    height: 95px;

  }

  .btn-table {
    width: fit-content;
  }

  .append-text .vs-button {

    font-size: 12px;
  }

  .box {
    width: 40px;
    height: 40px !important;
  }

  .category-ul ul li .vs-component.con-vs-checkbox {
    width: 100% !important;
  }

  .confirm-form .email_txt {
    font-size: 16px;
  }

  .confirm-form .categories-check {
    height: 300px;
  }

  .edit-profile .stepper-head .back-link {
    top: 28px;
  }

  .important-txt {
    font-size: 14px;
  }

  .stepper-head h1 {
    font-size: 22px;
    width: calc(100% - 68px);
  }

  .s__login .signin-right-block h6 {
    margin-bottom: 10px !important;
    margin-top: 0px !important;
  }

  .s__login .login-logo {
    width: 120px;
  }

  .s__login .forgot {

    margin-top: 0px;

  }

  .s__login .signin-right-block h4 {
    margin: 10px 0 10px 0px !important;
  }

  .s__login button {
    margin-bottom: 0px !important;
  }

  .s__login .vs-divider {
    margin: 10px 0;
  }

  .s__login .vs-checkbox-default {
    margin: 10px 0px !important;
  }

  .s__login .login-logo {
    margin-top: 10px;
  }

  .box {
    margin-right: 4px !important;
  }

  .input-wrap {
    margin: 0rem 0rem !important;
  }

  .stepper-head {
    padding-top: 0px;
  }

  .membership-list li {

    font-size: 13px;
  }

  .confirm-form {
    padding: 1rem;
  }
  .vs-pagination--li,.vs-pagination--buttons {
    width: 25px;
    height: 25px;
    font-size: 11px;
  }
    .delete-popup  .flex{
      margin-right: auto;
    }
    .delete-popup  .row{
      margin-left: 0px;
      margin-right: 0px;
    }
    .delete-popup.add-rating .vs-button-dark {
      padding: 10px !important;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 375.98px) {
  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right {
    width: 30% !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right .vicp-preview .vicp-preview-item {

    margin-right: 0px !important;
    margin-bottom: 26px;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left {
    width: 70% !important;
  }

  .qr-card .con-vs-avatar {
    left: 26px;
    top: 34%;
  }
  .qr-card {
    padding: 10% 0% !important;
    background-size: 120% !important;
  }

  .qr-card img {
    width: 100px;
  }


  .referal-link .vx-input-group .append-text.btn-addon .vs-button {
    font-size: 9px !important;

  }

  .stepper-head h1 {
    width: calc(100% - 68px);
  }

  .user-image {
    width: 30px;
  }

  .vue-image-crop-upload .vicp-wrap {
    width: 264px !important;
    height: 245px !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step1 .vicp-drop-area {
    height: 120px !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step1 .vicp-drop-area {
    padding: 10px 5px !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-step1 .vicp-drop-area .vicp-hint {
    line-height: normal !important;
    padding: 0px !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-operate a {

    width: 80px !important;
  }

  .vue-image-crop-upload .vicp-wrap .vicp-operate {
    right: 24px !important;
    bottom: 10px !important;
  }
  .info-popup h3{
    font-size: 14px;
  }
  .bg-silva-icon .vs-con-input input {
    background-position: 96% center;
    padding-right: 34px !important;
    background-size: 15px;
}
.vs-tabs--li button.vs-tabs--btn {
  padding: 8px
}
}

@media only screen and (max-width: 360px)
{
  .user_details .mobile_view h3{
    font-size:18px;
  }
  .mobile_view h3{
    font-size:18px;
  }
}

@media only screen and (max-width: 320px) {
  .vs-sidebar-group ~ div:last-child {
    margin-bottom: 25px !important;
  }
  .steps-index {
    font-size: 14px;
  }
  .qr-popup .bg-qr-white .img-box {
    padding: 5%;
}
.payment-popup .vs-button {
  font-size: 15px !important;
}
  .c__account .includeIconOnly {
    width: 35px !important;
    height: 35px !important;
  }

  .con-vs-dropdown--menu.notification-pop {
    left: 305px !important;
  }

  .qr-card {
    padding: 50px !important;
    background-size: 120% !important;
  }
  
  
  .avtar {
    border: 4px solid #334055;
    top: 40%;
    left: 5%;
    position: absolute;
    width: 60px !important;
    height: 60px !important;
    background-color: #82e1dd;
   
  }

  .avtar {
    border: 4px solid #334055;
    top: 40%;
    left: 5%;
    position: absolute;
    width: 60px !important;
    height: 60px !important;
    background-color: #82e1dd;
   
  }

  .qr-card img {
    width: 80px;
    margin-left: 0;
  }

  .padding-card-5 {
    padding: 14%;
  }

  .qr-card .con-vs-avatar {
    left: 3px;
    top: 35%;
  }

  .qr-card .con-vs-avatar span {
    font-size: 25px;
  }

  .qr-card p {
    font-size: 14px;
    line-height: 1.5;
  }

  .fail-step .stepper-head h2 {
    font-size: 20px;
    line-height: normal;
  }

  .stepper-head h2,
  .step-h2 {
    font-size: 20px;
    line-height: normal;
  }

  .msg-details .vs-textarea,
  .msg-details .vs-input--input {

    font-size: 14px !important;

  }

  .success-step .stepper-head .back-link {
    top: 16px;
  }

  .card-title h3,
  .title h3,
  .dashboard-welcome h2 {
    font-size: 20px;
  }

  .stepper-head h1 {
    width: calc(100% - 68px);
  }

  h3.address-h3 {
    font-size: 18px;
  }

  .gray-label,
  .black-label {
    font-size: 14px;
  }
  .mb-base {
    margin-bottom: 1.5rem !important;
}
.payment-method .credit-card h5 {
  font-size: 14px;
}
.payment-method .credit-card img {
  width: 35px;
}
.payment-method .credit-card .vs-radio--input:checked+.vs-radio .vs-radio--circle ,
.payment-method .credit-card .vs-radio{
  height: 20px;
  width: 20px;
 
}
.payment-method .credit-card h5.card-pt {
  padding-top: 3px;
}
.black-p {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: 14px;
}
.qr-btn{
  float: unset;
}
.qr-btn .vs-button{
  width: 100%;
}
.qr-btn .vs-button-silva-dark.vs-button-filled{
  margin-bottom: 1rem;
}
.info-icon {
  right: 8px;
   top: 8px;
   width: 20px;
}
.s__login .signin-right-block h4 {
  font-size: 20px !important;
}
.business-profile h2 {
  font-size: 18px;
  line-height: normal;
}
.business-profile .sub-business-title {
  font-size: 16px;
  
}
}

